.container {
  display: flex;
  align-items: center;

  gap: 3.125rem;
  margin-bottom: 3.125rem;
}

.image {
  object-fit: cover;
}

.content {

}

.title {
  margin-bottom: 0.625rem;
}

.desc {
  font-size: 1.125rem;
  color: #999;
}